[submodule "bin/mach-proto"]
	path = bin/mach-proto
	url = git@github.com:fsolleza/mach-proto.git
[submodule "bin/opentelemetry-proto"]
	path = bin/opentelemetry-proto
	url = https://github.com/open-telemetry/opentelemetry-proto.git
